*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header  */
header {
    background-color: lightskyblue;
    padding: 10px auto;
    height: 75px;
}

/* footer  */
footer {
    background-color: rgb(27, 25, 25);
    padding: 10px 0;
}

.footer-top {
    padding-bottom: 30px;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

/* bordi dashed */
.db-black{
    border: 1px dashed black;
}
.db-white{
    border: 1px dashed white;
}

/* containter */
.container-1 {
    max-width: 1200px;
}

.container-2 {
    max-width: 991px;
    height: 300px;
    background-color: palevioletred;
}

.container-3 {
    max-width: 1200px;
    height: 400px;
}

.container-4 {
    background-color: green;
    height: 600px;
    width: 1200px;
}

.containter-5 {
    padding: 20px 0;
}

/* layout */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.col-15{
    width: 15%;
    height:100%;
}

.col-25{
    width: 25%;
    height: 100%;
}

.col-50{
    width: 50%;
    height: 100%;
}

.col-40{
    width: 40%;
    height: 100%;
}

.col-60{
    width: 60%;
    height: 100%;
}

.col-100{
    width:100%;
    height: 100%;
}

/* background */
.bg-orange {
    background-color: orange;
}

.bg-blue {
    width: 100%;
    background-color: rgb(17, 17, 106);
}

.bg-white {
    width: 100%;
    background-color: white;
}

.bg-grey {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.4);
}

.bg-pink {
    background-color: pink;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-tiffany {
    background-color: rgb(33, 209, 209);
}

.bg-aquamarine{
    background-color: aquamarine;
}

/* lista  */
ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    margin: 0 5px;
}

/* padding */
.padding-5 {
    padding:5px;
}
.padding-10 {
    padding:10px;
}

.padding-40 {
    padding:40px;
}

.padding-left150{
    padding-left: 150px;
}

.justify-content-sb {
    justify-content: space-between;
}

.height-50 {
    height: 50px;
}

.margin-container {
    margin: 0 auto;
}